# Python cache files
__pycache__/
*.pyc
migrations/
# Virtual environments
env/
venv/
.env
# Database files
*.db
# Configuration files
.env.txt
tests/
logs/
stable-env/
# Log files
*.log
# System-specific files
.DS_Store
Thumbs.db
*.log
